/* Adopt */
#adopt-page {
    background-image: url("../imgs/01.jpg");
    background-size: cover;
}

select {
    width: 30%;
}
#search-form, #adopter-info {
    margin-top: 2.75%;
}
#signup{
    margin-top: 1%;
}
select{
    margin-bottom: 1%;
}
#facebook-signup, #google-signup{
    margin-top: 1%;
    color: darkorange;
}





/* Shelter */
#shelter-page {
    background-image: url("../imgs/02.jpg");
    background-size: cover;
}
#shelter-actions{
    margin-top: 10%;
}

.btn{
    margin: 1%;
    width: 400px;
}

#shelter-view{
    height:300px;
    width: 400px;
    background-color: whitesmoke;
}

#shelter-form, #dog-form {
    margin-top: 5%
}
.mod-subtitle{
    margin-top: 15%;
}

/* Faves */
#faves-page {
    background-image: url("../imgs/03.jpg");
    background-size: cover;
}


/* Results */
#results-page{
    background-color: orange;
    background-image: url("../imgs/04.jpg");
    background-size: cover;
}