body {
    background-image: url("../imgs/02.jpg");
    background-size: cover;
}
#shelter-actions{
    margin-top: 10%;
}


.btn{
    margin: 1%;
    width: 400px;
}

#shelter-view{
    height:300px;
    width: 400px;
    background-color: whitesmoke;
}